@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html{
    font-family: "Roboto", sans-serif;
}

body{
    background-image: url(../images/bg-repeat.jpg);
    background-size: contain;
    min-height: 100vh;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.conteudo{
    width: 800px;
    height: 402px;
    display: flex;
    gap: 60px;
    align-items: center;
}


.informativo .titulo{
    width: 288px;
    height: 46px;
    margin-bottom: 11px;
    font-size: 20px;
    font-weight: 900;
    color: #fff;
}

.informativo .paragrafo{
    width: 300px;
    height: 54px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}

.formulario{
    background-color: #fff;
    height: 378px;
    width: 340px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.formulario input{
    width: 298px;
    height: 35px;
    border-radius: 5px;
}

.formulario input::placeholder{
    padding-left: 10px;
}

.formulario textarea{
    min-height: 100px;
    resize: none;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
}

.formulario textarea::placeholder{
    padding-left: 10px;
    padding-top: 5px;
}

.formulario input.borda-padrao,
.formulario textarea.borda-padrao{
    margin-top: 15px;
        border: solid black 1px;
}



.formulario p{
    font-weight: 400;
    font-size: 15px;
    margin-bottom:20px ;
    margin-top: 16px;
}

.formulario .btn{
    height: 41px;
    background-color: #3CCC87;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


.borda-vermelha{
    border: solid #F52E2E 1px;
    margin-top: 15px;
    
}

.borda-verde{
        border: solid #00C22B 1px;
        margin-top: 15px;
}


.mensagem-erro {
    color: #F52E2E;
    font-size: 8px;
    font-weight: 400;
    display: block;
}

@media (max-width: 820px){
    .conteudo{
    flex-direction: column;
}
}